body {
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px;
    margin-right: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tab-button:hover {
    background-color: #e0e0e0;
}

.tab-content {
    display: none;
}

form {
    margin-bottom: 20px;
}

form input {
    margin: 5px;
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}

#logout-button {
    position: fixed;
    top: 20px; /* Расстояние от верхнего края */
    right: 20px; /* Расстояние от правого края */
    padding: 10px 20px;
    background-color: #f44336; /* Красный цвет для кнопки */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #d32f2f; /* Тёмный оттенок красного при наведении */
}